.bg-img{
    background-image: url("../IMG/adventure.jpg");
    background-size:cover;
background-repeat:no-repeat;
background-position:center center;
    width:100%;
    height:560px;
}
img{
    width:100%;
    height:560px;
}