<!--  Document Type Declaration, or doctype. 
This is simply a way to tell the browser—or any other parser—what type of document it’s looking at.
the one below is for HTML5
-->
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML, CSS, JS Starter kit</title>
  <meta name="description" content="This is a starter kit for beginners who want to learn web.">
  <meta name="author" content="Builtable Coworking - JMTee">
 <link rel="stylesheet" href="CSS\custom.css">
<style>
.embedded-link{
  color:blue; 
  font-size:20pt; 
  text-decoration: none
}

</style>

 

</head>

<body>

  <h1 id="sum"></h1>
  <h1 id="text"></h1>
 <script src="JS/main.js"></script>

</body>
</html>