<!--  Document Type Declaration, or doctype. 
This is simply a way to tell the browser—or any other parser—what type of document it’s looking at.
the one below is for HTML5
-->
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML, CSS, JS Starter kit</title>
  <meta name="description" content="This is a starter kit for beginners who want to learn web.">
  <meta name="author" content="Builtable Coworking - JMTee">

  
</head>

<body>
 <!--content starts here --> 
</body>
</html>