<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Chronicle</title>
  <meta name="description" content="<description here>">
  <meta name="author" content="<your name here>">

  <!--browser tab icon-->
  <link rel="icon" href="IMG/favicon.ico" type="image/x-icon" />

  <!--link font from google website-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,700" rel="stylesheet">

  <!--css <link> tags here-->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="CSS/main.css">

  <nav class="navbar ">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">CHRONICLE</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav custom">

          <li><a href="#adventure">ADVENTURES</a></li>
          <li><a href="#flying">FLYING</a></li>
          <li><a href="#featured-experiences">FEATURED EXPERIENCES</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

</head>


<footer>
  <hr/>
  <div class="container">
    <p> © Builtable Coworking</p>
  </div>
</footer>


<!--<script> tags here-->
<script src="JS\header.js"></script>

<body>


  <!--script tag load faster here-->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>